<div class="h-100 w-100 p-3">
  <div style="font-size: 25px">Contact Us 📥</div>

  <div class="w-100 row mt-5">
    <div class="col-md-4">
      <div class="counter-box">
        <mat-icon>help_outline</mat-icon>

        <p>Need Help?</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="counter-box">
        <mat-icon>question_answer</mat-icon>

        <p>Have Feedback?</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="counter-box">
        <mat-icon>local_library</mat-icon>

        <p>Get Involved</p>
      </div>
    </div>
  </div>

  <div class="mt-5 text-center">
    <div>Reach out at</div>
    <div
      style="
        font-size: 21px;
        margin-top: 10px;
        color: var(--color-primary) !important;
      "
    >
      <a
        style="color: var(--color-primary) !important"
        href="mailto:Info@my-mano.com"
        >Info@my-mano.com</a
      >
    </div>
  </div>
</div>
