<h1 class="header" mat-dialog-title>Account Verification</h1>
<div class="content" mat-dialog-content>
  To verify {{ businessName }} , please send an email from your business email
  address to
  <a
    style="
      color: #0d6efd;
      font-weight: 500;
      margin-right: 5px;
      text-decoration: underline;
    "
    >verify@my-mano.com</a
  >
  confirming: website, physical address and telephone number, and business admin
  name. Once these details have been verified by the Mymano team, the business
  admin will receive the login details to access the dashboard.
</div>
<div class="mt-4" mat-dialog-actions>
  <button style="margin-left: auto" mat-button mat-dialog-close color="accent">
    Ok
  </button>
</div>
