<div class="p-3">
  <mat-card>
    <form>
      <div class="row m-0 px-5" [formGroup]="myForm">
        <div
          class="col-md-12 d-flex py-3 justify-content-between align-items-center newWarehouse"
        >
          <h1 class="m-0">New Warehouse Detail</h1>
        </div>
        <div class="col-md-6">
          <!-- <div class="py-2"><strong>Warehouse Name:</strong></div> -->
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Warehouse Name</mat-label>
            <input
              formControlName="name"
              autofocus="false"
              matInput
              placeholder="Enter Warehouse Name"
            />
          </mat-form-field>
          <div
            *ngIf="nameControl?.invalid && nameControl?.touched"
            class="text-danger"
          >
            Name is required..
          </div>
        </div>
        <!-- warehouse name -->
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Warehouse Proponet</mat-label>
            <input
              formControlName="proponent"
              autofocus="false"
              matInput
              placeholder="Enter Warehouse Proponet"
            />
          </mat-form-field>
          <div
            *ngIf="proponentControl?.invalid && proponentControl?.touched"
            class="text-danger"
          >
            proponent is required..
          </div>
        </div>
        <!-- phnone number -->
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              formControlName="contact"
              type="text"
              autofocus="false"
              matInput
              placeholder="Enter Phone Number"
            />
          </mat-form-field>
          <div
            *ngIf="contactControl?.invalid && contactControl?.touched"
            class="text-danger"
          >
            Phone Number is required..
          </div>
        </div>
        <!-- Capacity -->
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Warehouse Capacity</mat-label>
            <input
              formControlName="capacity"
              autofocus="false"
              matInput
              type="number"
              placeholder="Enter Warehouse Capacity"
            />
          </mat-form-field>
          <div
            *ngIf="capacityControl?.invalid && capacityControl?.touched"
            class="text-danger"
          >
            Capacity is required..
          </div>
        </div>
        <!-- address -->

        <div class="col-md-12">
          <mat-form-field class="w-100 p-0 m-0" appearance="outline">
            <mat-label>Warehouse Address (Location)</mat-label>
            <textarea
              formControlName="location"
              autofocus="false"
              matInput
              placeholder="Enter Warehouse Address 1"
            ></textarea>
          </mat-form-field>
          <div
            *ngIf="locationControl?.invalid && locationControl?.touched"
            class="text-danger"
          >
            Address1 is required..
          </div>
        </div>

        <!-- city -->
        <div class="col-md-12 text-center">
          <button color="primary" mat-raised-button (click)="onCreateStorage()">
            <!-- <mat-icon>save</mat-icon> -->
            <span class="px-3">{{ isEdit ? "Update" : "Save" }}</span>
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
