<div style="width: 200px">
  <div class="navigation-items">
    <div class="item">
      <a
        [routerLink]="['/admin/dashboard']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        <!-- <mat-icon>home</mat-icon>  -->
        Dashboard
      </a>
    </div>

    <div class="item">
      <a
        [routerLink]="['/admin/storage-management']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        <!-- <mat-icon>home</mat-icon> -->
        Storage Management
      </a>
    </div>
    <div class="item">
      <a
        [routerLink]="['/admin/task-management']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        <!-- <mat-icon>home</mat-icon> -->
        Task Managenent
      </a>
    </div>
    <div class="item">
      <a
        [routerLink]="['/admin/user-management']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        <!-- <mat-icon>home</mat-icon> -->
        User Managenent
      </a>
    </div>
  </div>
</div>
