<div class="p-3">
  <mat-card>
    <div class="d-flex row align-items-center p-3 justify-content-between">
      <div class="col-md-9"><h1 class="m-0">Storage List</h1></div>
      <div class="col-md-3 d-flex justify-content-end">
        <button color="primary" (click)="onCreateStorage()" mat-raised-button>
          Create new Storage
        </button>
      </div>
    </div>

    <div class="p-3">
      <table
        style="width: 100%"
        mat-table
        [dataSource]="dataSource"
        class="border"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="strg_id">
          <th mat-header-cell *matHeaderCellDef>Storage ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.strg_id }}
          </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let element">
            {{ element.location }}
          </td>
        </ng-container>

        <!-- Stored Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            <span class="pointer" (click)="onStorageDetail(element)">
              <u class="linkClr">{{ element.name }}</u></span
            >
          </td>
        </ng-container>

        <!-- Available Column -->
        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let element">
            {{ element.contact }}
          </td>
        </ng-container>

        <ng-container matColumnDef="proponet">
          <th mat-header-cell *matHeaderCellDef>Proponent</th>
          <td mat-cell *matCellDef="let element">
            {{ element.proponent }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button
              mat-icon-button
              aria-label="Example icon button with a vertical three dot icon"
            >
              <mat-icon color="primary" (click)="onEditData(element)"
                >edit_outline</mat-icon
              >
            </button>
            <button
              mat-icon-button
              aria-label="Example icon button with a vertical three dot icon"
            >
              <mat-icon color="warn" (click)="onRemoveStorage(element)"
                >delete_outline</mat-icon
              >
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</div>
