.report-dish-btn {
  width: 25%;
  background: var(--color-primary);
  color: white;
  height: 35px;
}

.label {
  font-weight: 500;
}

.close {
  width: 24px;
  height: 24px;
  &:hover {
    cursor: pointer;
  }

  mat-icon {
    margin-left: 160px;
  }
}
