<div class="w-100 h-100" [ngClass]="theme">
  <div class="header">
    <app-header #header (toggle)="buttonToggle()"></app-header>
  </div>

  <mat-sidenav-container style="height: 86%">
    <mat-sidenav
      style="border: 1px solid #f6efef; border-bottom: none"
      class="sidenav"
      mode="side"
      #sidenav
    >
      <mat-nav-list style="padding-top: 0px">
        <app-admin-sidebar (linkClicked)="onLinkClicked()"></app-admin-sidebar>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-margin">
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
