<div style="width: 60%; margin: auto; margin-top: 10%; font-size: 18px">
  <p>
    The Mymano founding team deeply reflected on what the French philosopher
    Jean-Anthelme Brillant- Savarin said more than 200 years ago:
  </p>

  <p
    style="
      font-style: italic;
      font-weight: 700;
      margin-top: 40px;
      margin-bottom: 40px;
    "
  >
    “The destiny of nations depends on the way they nourish themselves”
  </p>
  <p>
    We like to start this lifelong journey by supporting the hospitality
    industry in shifting our relationship with food, where everyone has the
    right to pleasure and knowledge.
  </p>
  <p>Because the destiny of the world depends on how we nourish ourselves.</p>
  <p>All it takes is a taste.</p>

  <div class="mt-4">- The Mymano Team</div>
</div>
