<div class="w-100 h-100">
  <div *ngIf="dashboardData && userType.BusinessAdmin" class="p-5">
    <!-- <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Mymano Score
                </h5>
                <span class="h2 font-weight-bold mb-0">{{
                  dashboardData?.myManoScore
                }}</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <mat-icon style="font-size: 32px; width: 32px; height: 32px"
                    >star</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Collectibles
                </h5>
                <span class="h2 font-weight-bold mb-0">{{
                  dashboardData?.collectibles
                }}</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-warning text-white rounded-circle shadow"
                >
                  <mat-icon style="font-size: 32px; width: 32px; height: 32px"
                    >inventory_2</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="w-100">
      <div class="business-name">
        {{ user?.BusinessName }}
      </div>
      <p class="mt-2 business-address">
        {{ user?.Address }}
      </p>
      <div class="mt-5">
        <div
          class="dashboard-main"
          style="display: flex; justify-content: center"
        >
          <div class="collectibles" (click)="redirectToDishes()">
            <div class="round">
              <span>{{ dashboardData?.collectibles }}</span>
            </div>
            <div class="label">Your Collectibles</div>
          </div>

          <div *ngIf="!dashboardData?.isAccountVerified" class="mymano-score">
            <div class="round">
              <mat-icon class="locked-mano-icon">lock</mat-icon>
            </div>
            <div class="label">Mymano Score</div>
          </div>

          <div *ngIf="dashboardData?.isAccountVerified" class="mymano-score">
            <div
              [ngStyle]="{ 'background-color': backgroundColor }"
              class="round"
            >
              <span style="color: black">{{ dashboardData?.myManoScore }}</span>
            </div>
            <div class="label">
              Mymano Score
              <mat-icon (click)="onHelpClick()" class="mymano-question"
                >help_outline</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="businesses.length && userType.SuperAdmin" class="w-100 h-100">
    <div class="p-5">
      <!-- <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div (click)="onBusinessClick()" class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Verified Businesses
                </h5>
                <span class="h2 font-weight-bold mb-0">{{
                  verifiedBusinesses.length
                }}</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <mat-icon style="font-size: 32px; width: 32px; height: 32px"
                    >star</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div (click)="onBusinessClick()" class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Unverified Businesses
                </h5>
                <span class="h2 font-weight-bold mb-0">{{
                  unVerifiedBusinesses.length
                }}</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-warning text-white rounded-circle shadow"
                >
                  <mat-icon style="font-size: 32px; width: 32px; height: 32px"
                    >inventory_2</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

      <div
        class="dashboard-main"
        style="display: flex; justify-content: center"
      >
        <div class="collectibles">
          <div (click)="onBusinessClick('Unverified')" class="round">
            <span>{{ unVerifiedBusinesses.length }}</span>
          </div>
          <div class="label">Unverified Businesses</div>
        </div>

        <div class="mymano-score">
          <div (click)="onBusinessClick('Verified')" class="round">
            <span style="color: white">{{ verifiedBusinesses.length }}</span>
          </div>
          <div class="label">Verified Businesses</div>
        </div>
      </div>
    </div>
  </div>
</div>
