<div style="width: 200px">
  <div class="navigation-items">
    <div class="item">
      <a
        [routerLink]="['/business/dashboard']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        <mat-icon>home</mat-icon> Dashboard
      </a>
    </div>

    <div class="item">
      <a
        [routerLink]="['/business/dishes']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        <mat-icon>restaurant_menu</mat-icon> Dishes
      </a>
    </div>

    <div class="item">
      <a
        [routerLink]="['/business/menu']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        <mat-icon>description</mat-icon> Menu
      </a>
    </div>
    <div class="item">
      <a
        [routerLink]="['/business/producers']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        <mat-icon>person</mat-icon> Producers
      </a>
    </div>
  </div>

  <div
    style="position: absolute; width: 100%; bottom: 0px"
    class="navigation-items"
  >
    <div class="item">
      <a
        [routerLink]="['/business/about-us']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        About Us
      </a>
    </div>

    <div class="item">
      <a
        [routerLink]="['/business/contact-us']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        Contact Us
      </a>
    </div>

    <div class="item">
      <a
        [routerLink]="['/business/privacy-policy']"
        routerLinkActive="router-link-active"
        class="item-link"
      >
        Terms of Use
      </a>
    </div>

    <div style="text-align: start; margin-left: 20px">@2022, Mymano</div>
  </div>
</div>
