<div class="w-100 h-100">
  <div class="search-container">
    <div class="container-text">
      <p>
        Look up and verify your business to manage food dishes uploaded via the
        <a class="mymano-app" href="https://my-mano.com/" target="_blank"
          >Mymano App.</a
        >
      </p>
    </div>
    <div class="search-input">
      <input
        [options]="options"
        [(ngModel)]="input"
        placeholder="Search your business"
        ngx-google-places-autocomplete
        (onAddressChange)="handleAddressChange($event)"
      />
    </div>
  </div>
</div>
