<div class="row w-100 m-0 p-0">
  <div class="row 100 m-0 mt-4">
    <div style="align-items: center" class="col-md-10 h4 d-flex">
      <button
        (click)="goBack()"
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon style="color: var(--color-primary)">arrow_back_ios</mat-icon>
      </button>
      {{ menuId == 0 ? "Dish Details" : "Dish Details" }}
    </div>
    <!-- <div class="col-md-2">
      <button
        *ngIf="menuId == 0"
        [disabled]="cmnService.loader.value"
        (click)="onSaveDishClick()"
        class="save-dish-btn"
        mat-flat-button
      >
        Save Dish
      </button>
    </div> -->
  </div>

  <div class="row px-2 w-100 m-0 mt-3">
    <div class="col-md-3 img-flag-section mt-4">
      <div class="position-relative food-img">
        <img
          [ngClass]="menuId == 0 ? 'lock-dish-img' : 'active-dish-img'"
          [src]="image"
          alt="food"
        />

        <mat-icon
          *ngIf="menuId == 0"
          matTooltip="Add Dish name and select ingredients to unlock"
          matTooltipClass="lock-tooltip"
          class="lock-icon"
          >lock</mat-icon
        >
      </div>

      <div class="row px-2 m-0 mt-2 mx-auto justify-content-between">
        <div
          class="d-flex justify-content-start align-items-center p-0 col-md-9"
        >
          Published ({{ date | date: "dd/MM/YYYY" }})
        </div>
        <div
          *ngIf="menuId != 0"
          class="col-md-3"
          [ngStyle]="{ background: ratingObj?.colorCode }"
          style="width: 30px; height: 30px; border-radius: 50%"
        ></div>
        <div
          *ngIf="menuId == 0"
          (click)="onFlagClick()"
          class="d-flex flag-icon justify-content-end col-md-3"
        >
          <mat-icon>flag</mat-icon>
        </div>
      </div>
    </div>
    <div class="col-md-8 input-section mt-3">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field
            style="padding-left: 0px"
            color="accent"
            class="w-100"
            appearance="outline"
          >
            <mat-label style="margin-left: 10px; font-size: 13px"
              >Enter Dish Name</mat-label
            >
            <input
              *ngIf="menuId != 0"
              [readonly]="menuId != 0"
              [(ngModel)]="dishNameValue"
              matInput
              placeholder="Enter Dish Name"
            />

            <input
              #inputval
              type="text"
              *ngIf="menuId == 0"
              [formControl]="dishName"
              matInput
              placeholder="Enter Dish Name"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              (optionSelected)="onOptionSelected($event)"
              #auto="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option.dishName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div
          *ngIf="menuId == 0 && showSelectIngredients"
          style="align-items: center"
          class="col-md-3 d-flex mb-2"
        >
          <div class="m-0">
            <button
              (click)="onSelectIngredient()"
              class="select-ingredient-btn"
              mat-flat-button
            >
              <mat-icon matPrefix>add</mat-icon> Select Ingredients
            </button>
          </div>
        </div>
        <div
          class="col-md-2 d-flex align-center"
          style="justify-content: center; align-items: center"
        >
          <button
            *ngIf="menuId == 0"
            [disabled]="cmnService.loader.value"
            (click)="onSaveDishClick()"
            class="save-dish-btn"
            mat-flat-button
          >
            Save Dish
          </button>
        </div>
      </div>

      <div *ngIf="ingredients.length" class="row m-0 mt-5 w-100">
        <table style="width: 100%" mat-table [dataSource]="ingredients">
          <ng-container
            *ngFor="let column of columns"
            [matColumnDef]="column.columnDef"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ column.header }}
            </th>
            <td class="p-0 text-center" mat-cell *matCellDef="let row">
              <div
                class="text-center"
                *ngIf="column.header === 'Producer' && menuId == 0"
              >
                <div class="search-input">
                  <input
                    [options]="options"
                    placeholder="Search your business"
                    [value]="row.selectedValue"
                    ngx-google-places-autocomplete
                    (onAddressChange)="handleProducerChange($event, row)"
                  />
                </div>
              </div>
              <div
                class="text-center"
                *ngIf="
                  column.header !== 'Producer' && column.header !== 'Action'
                "
              >
                {{ column.cell(row) }}
              </div>

              <div
                class="text-center"
                *ngIf="column.header === 'Action' && menuId == 0"
              >
                <mat-icon
                  (click)="onRemoveClick(row)"
                  style="cursor: pointer; color: red"
                  >delete</mat-icon
                >
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div *ngIf="!ingredients.length" style="margin-top: 50px">
        <!-- <img style="width: 250px; height: 250px" src="assets/no-ing2.svg" /> -->
        <div style="text-align: center">
          {{
            menuId == 0
              ? "No ingredients are added yet."
              : "No Ingredients found."
          }}
        </div>
      </div>
    </div>
  </div>
</div>
