/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
@import url(assets/theme/light-theme.scss);
@import url(assets/theme/mobile-view.scss);
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500&display=swap");

* {
  font-family: "Albert Sans";
}

.linkClr {
  color: blue;
}

:root {
  --color-primary: #3f51b5;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.password-input {
  .mat-form-field-wrapper {
    padding: 0px !important;
  }
}

.mat-header-cell {
  font-size: 18px;
  font-weight: 700;
}

.table-container {
  padding-top: 10px !important;
  background-color: white;
}

.btn-centre {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}