.searchbar {
  width: 30%;
}

.add-ingredeint {
  width: 70%;

  ::ng-deep .mat-form-field-wrapper {
    padding: 0px !important;
  }
}

.searchbar {
  ::ng-deep .mat-input-element {
    margin-bottom: 3px;
  }
}

.save-btn {
  width: 25%;
  background: var(--color-primary);
  color: white;
  height: 35px;
}

.add-icon {
  &:hover {
    cursor: pointer;
  }
}

.close-btn {
  &:hover {
    cursor: pointer;
  }
}
.chipbox {
  ::ng-deep .mat-form-field-infix {
    border: 0px !important;
    padding: 0.7em 0px 0.5em !important;
  }

  mat-chip {
    // margin: 0px;
    // padding: 0px;
    font-size: small;
  }
}
