<div class="w-100 p-3">
  <div class="w-100">
    <div *ngIf="true" class="w-100">
      <!-- <mat-form-field class="mr-3" color="accent" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search</mat-label>
        <input
          [(ngModel)]="search"
          (ngModelChange)="onSearch($event)"
          matInput
          placeholder="Search"
        />
      </mat-form-field> -->

      <mat-form-field style="margin-left: 10px" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select
          (ngModelChange)="onStatusChange($event)"
          [(ngModel)]="selectedStatus"
        >
          <mat-option value="all">All</mat-option>
          <mat-option value="confirmed">Confirmed</mat-option>
          <mat-option value="unconfirmed">Unconfirmed</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-12 d-flex justify-content-end">
      <div class="color-bar">
        <div *ngFor="let r of ratingBubbles" class="box">
          <div
            class="color-box"
            [ngStyle]="{ 'background-color': r?.colorCode }"
          ></div>
          <div class="text-center rate">{{ r?.value }}</div>
        </div>
      </div>
    </div>

    <div *ngIf="dishes.length" class="w-100">
      <div class="row">
        <div *ngFor="let d of dishes; let i = index" class="col-md-4 p-3">
          <mat-card
            (click)="onDishClick(d)"
            style="box-shadow: 0 0 50px #ccc !important; cursor: pointer"
            class="p-0"
          >
            <mat-card-subtitle class="mb-0">
              <div class="w-100 position-relative">
                <img
                  class="w-100"
                  [ngClass]="
                    d?.menuId === 0 ? 'lock-dish-img' : 'active-dish-img'
                  "
                  [src]="imagePath + d?.collectibleImageLocation"
                />
                <mat-icon
                  matTooltip="Add Dish name and select ingredients to unlock score."
                  matTooltipClass="lock-tooltip"
                  class="lock-icon"
                  *ngIf="d?.menuId === 0"
                  >lock</mat-icon
                >
              </div>
            </mat-card-subtitle>
            <mat-card-actions
              style="padding: 10px; padding-right: 0px"
              class="w-100"
            >
              <div style="display: flex; align-items: center">
                <div style="padding-left: 10px; font-size: 17px">
                  {{ d.categoryName }}
                </div>
                <div
                  *ngIf="d?.menuId !== 0"
                  [ngStyle]="{ background: d?.ratingObj?.colorCode }"
                  style="
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 1px solid gray;
                    margin-left: auto;
                  "
                ></div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
